@model ViagensMVC.Models.ViewModels.ViagemFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Viagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Viagem.Rota" class="control-label"></label>
                <input asp-for="Viagem.Rota" class="form-control" />
                <span asp-validation-for="Viagem.Rota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DataHoraInicio" class="control-label"></label>
                <input asp-for="Viagem.DataHoraInicio" class="form-control" />
                <span asp-validation-for="Viagem.DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DataHoraFim" class="control-label"></label>
                <input asp-for="Viagem.DataHoraFim" class="form-control" />
                <span asp-validation-for="Viagem.DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.Valor" class="control-label"></label>
                <input asp-for="Viagem.Valor" class="form-control" />
                <span asp-validation-for="Viagem.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.Posicao" class="control-label"></label>
                <select asp-for="Viagem.Posicao" asp-items="@(new SelectList(Enum.GetValues(typeof(PosicaoEnum))))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.Status" class="control-label"></label>
                <select asp-for="Viagem.Status" asp-items="@(new SelectList(Enum.GetValues(typeof(StatusEnum))))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.MotoristaId" class="control-label"></label>
                <select asp-for="Viagem.MotoristaId" asp-items="@(new SelectList(Model.Motoristas, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.VeiculoId" class="control-label"></label>
                <select asp-for="Viagem.VeiculoId" asp-items="@(new SelectList(Model.Veiculos, "Id", "Modelo", "Marca"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
